version: '3.8'

services:
  # 1. Service Database (MongoDB)
  mongo:
    image: mongo:latest
    container_name: mern-mongo
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db

  # 2. Service Backend (API)
  backend:
    build: ./backend
    container_name: mern-backend
    ports:
      - "5000:5000" 
    environment:
      - PORT=5000
      - MONGO_URI=mongodb://mongo:27017/ecommerce
      - SECRET_KEY=your-secret-key 
    depends_on:
      - mongo

  # 3. Service Frontend (React UI)
  frontend:
    build: ./frontend
    container_name: mern-frontend
    ports:
      - "3000:3000"
    stdin_open: true 
    tty: true
    depends_on:
      - backend

volumes:
  mongo-data: